@import "tailwindcss";

/**
  * ملفات القوالب والبايثون والـ JS التي تحتوي كلاسات Tailwind
  */
@source "../../../**/*.{html,py,js}";

/**
  * تفعيل DaisyUI مع الثيمات التي نريدها
  * نجعل corporate هو الافتراضي
  */
@plugin "daisyui" {
  themes: corporate --default, business;
}

/* تخصيصات إضافية للثيم الداكن (business) */
@layer base {
  [data-theme="business"] body {
    @apply text-gray-100;
  }

  [data-theme="business"] h1,
  [data-theme="business"] h2,
  [data-theme="business"] h3,
  [data-theme="business"] th {
    @apply text-white;
  }
}
